@{
    ViewBag.Title = "Index";

}

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            setInterval($('iframe').attr('src', 3000))
        });
    </script>
}
<h2>Index</h2>


    <div id="thongbao"></div>
    @using (Ajax.BeginForm(new AjaxOptions() { AllowCache = false, HttpMethod = "Post", UpdateTargetId = "thongbao" }))
    {
        @Html.TextBox("ChatContent")
        <input type="submit" value="Add" />
    }
<iframe src="~/Chats/AllChat" width="100%" />

